---
import { Separator } from "../ui/separator";
import HomepageHero from "./HomepageHero";
import HomeProjects from "./HomeProjects";
import RecentWritings from "./RecentWritings.astro";
---

<div>
  <HomepageHero />
  <Separator className="my-8 sm:my-12 container" />
  <HomeProjects />
  <RecentWritings />
</div>
