---
import type { HashnodePost } from "@/types";
import { getAllPostByUsername } from "../../functions/hashnode";
import { Separator } from "../ui/separator";
import { MoveRight } from "lucide-react";
import { Button } from "../ui/button";
import Writing from "./Writing.astro";
const posts = await getAllPostByUsername("blog.kishans.in");
---

<div class="container my-20">
  <h3 class="text-2xl font-semibold">Recent Writings</h3>
  <div class="mt-6">
    {
      posts?.map((post: HashnodePost, index) => {
        return (
          <>
            <Writing post={post} client:load />
            {index !== posts.length - 1 && <Separator className="my-7" />}
          </>
        );
      })
    }
    <a href="/blogs" class="flex items-center gap-2">
      <Button className="mt-8 px-8 rounded-full py-5 font-mono" client:load>
        View All Posts
        <MoveRight strokeWidth={1.2} />
      </Button>
    </a>
  </div>
</div>
