---
import { Separator } from "@/components/ui/separator";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Blogs">
  <div class="container mb-20 min-h-screen">
    <h1 class="text-4xl font-bold text-gray-900">Contact</h1>
    <Separator className="my-7" />
    <p class="text-xl text-gray-700">
      If you'd like to get in touch, you can reach me using the following
      methods.
    </p>
    <div class="grid grid-cols-2 my-8 gap-6">
      <div>
        <h2 class="text-2xl font-bold text-gray-900">Email</h2>
        <a
          href="mailto:hello@kishans.in?cc=kishansharma1231@gmail.com&subject=Hey%20Kishan%2C%20we%20have%20some%20exiting%20opportunity%20for%20you"
          class="text-gray-700"
        >
          hello@kishans.in
        </a>
      </div>
      <div>
        <h2 class="text-2xl font-bold text-gray-900">Twitter</h2>
        <p class="text-gray-700">
          <a href="https://twitter.com/jst_kishan" target="_blank"
            >@jst_kishan</a
          >
        </p>
      </div>
      <div>
        <h2 class="text-2xl font-bold text-gray-900">Github</h2>
        <p class="text-gray-700">
          <a href="https://github.com/kishanhitk" target="_blank"
            >git/kishanhitk</a
          >
        </p>
      </div>
      <a href="https://www.linkedin.com/in/kishanju/" target="_blank">
        <div>
          <h2 class="text-2xl font-bold text-gray-900">LinkedIn</h2>
          <p class="text-gray-700">in/kishanju</p>
        </div>
      </a>
    </div>
  </div>
</Layout>
