---
import Layout from '@/layouts/Layout.astro'
import Cal from '@/components/contact/Cal.astro'
---

<Layout title="Contact">
  <div class="mb-12 sm:mb-20 min-h-screen">
    <div class="container mb-8 sm:mb-12">
      <h1 class="text-3xl sm:text-4xl font-bold text-gray-900">Contact</h1>
      <p class="text-lg sm:text-xl text-gray-700 mt-3">
        Book a slot with me to discuss your project or just to say hi.
      </p>
    </div>
    <div class="min-h-[570px]">
      <Cal />
    </div>

    <div class="container">
      <p class="text-lg sm:text-xl text-gray-700">
        Or, you can reach me using one of these.
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 my-6 sm:my-8 gap-4 sm:gap-6">
        <a
          href="mailto:hello@kishans.in?cc=kishansharma1231@gmail.com&subject=Hey%20Kishan%2C%20we%20have%20some%20exciting%20opportunity%20for%20you"
          class="text-base sm:text-lg text-gray-700"
        >
          <div>
            <h2 class="text-xl sm:text-2xl font-bold text-gray-900">Email</h2>
            hello@kishans.in
          </div>
        </a>
        <a href="https://twitter.com/jst_kishan" target="_blank">
          <div>
            <h2 class="text-xl sm:text-2xl font-bold text-gray-900">Twitter</h2>
            <p class="text-gray-700">@jst_kishan</p>
          </div>
        </a>
        <a href="https://github.com/kishanhitk" target="_blank">
          <div>
            <h2 class="text-xl sm:text-2xl font-bold text-gray-900">Github</h2>
            <p class="text-gray-700">git/kishanhitk</p>
          </div>
        </a>
        <a href="https://www.linkedin.com/in/kishanju/" target="_blank">
          <div>
            <h2 class="text-xl sm:text-2xl font-bold text-gray-900">
              LinkedIn
            </h2>
            <p class="text-gray-700">in/kishanju</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>
