---

import DotPattern from '@/components/ui/dot-pattern'
import RetroGrid from '@/components/ui/retro-grid'
import Layout from '@/layouts/Layout.astro'
import { cn } from '@/lib/utils'
---

<Layout title="">
  <div class="h-screen w-screen bg-black flex justify-center items-center">
    <div
      class="h-[630px] w-[1200px] bg-white flex justify-center items-center flex-col relative"
    >
      <RetroGrid />
      <div class="z-10 flex flex-col items-center">
        <h1 class="text-black text-[9.3rem] font-bold">
          Kishan <span class="text-black/70">Kumar</span>
        </h1>
        <div class="text-gray-600 text-4xl mt-1 text-center space-y-3">
          <div>Product Focused</div>
          <div>Full Stack Engineer</div>
          <div>Web Performance Enthusiast</div>
        </div>
      </div>
    </div>
  </div>
</Layout>
