---

import Homepage from '@/components/home/Homepage.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Kishan Kumar">
  <main id="homepage" class="opacity-0">
    <Homepage />
  </main>
</Layout>

<script type="module">
  import { animate } from "motion";

  const homepage = document.getElementById("homepage");
  if (homepage) {
    homepage.classList.remove("opacity-0");
  }

  function animateHomepage() {
    const title = document.getElementById("hero-title");
    const subtitle = document.getElementById("hero-subtitle");
    const description = document.getElementById("hero-description");
    const heroButton = document.getElementById("hero-button");
    const projectsSeparator = document.getElementById("projects-separator");
    const projectsHeader = document.getElementById("projects-header");
    const projectsGrid = document.getElementById("projects-grid");

    const duration = 0.5;

    const animationSequence = {
      opacity: [0, 1],
      y: [10, 0],
      scale: [1.03, 1],
    };
    const delay = 0.2;
    if (
      title &&
      subtitle &&
      description &&
      heroButton &&
      projectsSeparator &&
      projectsHeader &&
      projectsGrid
    ) {
      animate(title, animationSequence, { duration, delay: delay * 1 });
      animate(subtitle, animationSequence, { duration, delay: delay * 2 });
      animate(description, animationSequence, { duration, delay: delay * 3 });
      animate(heroButton, animationSequence, { duration, delay: delay * 4 });
      animate(projectsSeparator, animationSequence, {
        duration,
        delay: delay * 6,
      });
      animate(projectsHeader, animationSequence, {
        duration,
        delay: delay * 7,
      });
      animate(projectsGrid, animationSequence, { duration, delay: delay * 8 });
    }
  }

  // Run animation on initial page load
  document.addEventListener("DOMContentLoaded", animateHomepage);
</script>

<noscript>
  <style>
    #homepage {
      opacity: 1 !important;
    }
  </style>
</noscript>
