---
import Homepage from "@/components/home/Homepage.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Kishan Kumar">
  <main id="homepage" class="opacity-0">
    <Homepage />
  </main>
</Layout>

<script>
  import { animate } from "motion";

  function animateHomepage() {
    const title = document.getElementById("hero-title");
    const subtitle = document.getElementById("hero-subtitle");
    const description = document.getElementById("hero-description");
    const heroButton = document.getElementById("hero-button");
    const projectsSeparator = document.getElementById("projects-separator");
    const projectsHeader = document.getElementById("projects-header");
    const projectsGrid = document.getElementById("projects-grid");

    const homepage = document.getElementById("homepage") as HTMLElement;

    homepage.style.opacity = "1";

    const duration = 0.6;

    const animationSequence = {
      opacity: [0, 1],
      y: [8, 0],
    };
    const delay = 0.2;
    if (
      title &&
      subtitle &&
      description &&
      heroButton &&
      projectsSeparator &&
      projectsHeader &&
      projectsGrid
    ) {
      animate(title, animationSequence, { duration, delay: delay * 1 });
      animate(subtitle, animationSequence, { duration, delay: delay * 2 });
      animate(description, animationSequence, { duration, delay: delay * 3 });
      animate(heroButton, animationSequence, { duration, delay: delay * 4 });
      animate(projectsSeparator, animationSequence, {
        duration,
        delay: delay * 6,
      });
      animate(projectsHeader, animationSequence, {
        duration,
        delay: delay * 7,
      });
      animate(projectsGrid, animationSequence, { duration, delay: delay * 8 });
    }
  }

  // Run animation on initial page load
  document.addEventListener("DOMContentLoaded", animateHomepage);

  // Run animation when navigating back to this page
  document.addEventListener("astro:after-swap", () => {
    const homepage = document.getElementById("homepage") as HTMLElement;
    homepage.style.opacity = "1";
  });
</script>

<noscript>
  <style>
    #homepage {
      opacity: 1 !important;
    }
  </style>
</noscript>
