---

---

<meta
  http-equiv="refresh"
  content="0;url=/assets/Kishan_Kumar_SDE_FullStack_Resume.pdf"
/>

<noscript>
  <p>
    If you are not redirected automatically, please <a
      href="/assets/Kishan_Kumar_SDE_FullStack_Resume.pdf"
      >click here to view the resume</a
    >.
  </p>
</noscript>
