---
import { Button } from '@/components/ui/button'
import { MoveRight } from 'lucide-react'
---

<div class="container">
  <h1 class="text-3xl sm:text-4xl font-bold text-gray-900" id="hero-title">
    Hello, I'm Kishan.
  </h1>
  <h2 class="text-xl sm:text-2xl text-gray-500 mt-2" id="hero-subtitle">
    A product engineer from India.
  </h2>
  <p
    class="text-lg sm:text-xl mt-4 sm:mt-5 text-gray-700"
    id="hero-description"
  >
    A developer with a product mindset, keen attention to detail, and a passion
    for web performance optimization. I build efficient, scalable products that
    enhance user experience across modern web applications. I am currently
    working at Quinence.
  </p>
  <a href="/about">
    <Button
      className="mt-6 sm:mt-8 px-6 sm:px-8 rounded-full py-4 sm:py-5 font-mono text-sm sm:text-base group"
      id="hero-button"
    >
      More About Me
      <MoveRight
        strokeWidth={1.2}
        className="ml-2 group-hover:translate-x-2 transition-all duration-100"
      />
    </Button>
  </a>
</div>
