---
import { Separator } from '@/components/ui/separator'
import HomepageHero from '@/components/home/HomepageHero.astro'
import HomeProjects from '@/components/home/HomeProjects.astro'
import RecentWritings from '@/components/home/RecentWritings.astro'
---

<div>
  <HomepageHero />
  <Separator className="my-8 sm:my-12 container" id="projects-separator" />
  <HomeProjects />
  <RecentWritings />
</div>
