---
import type { HashnodePost } from "@/types/hashnode";
import { getAllPostByUsername } from "@/functions/hashnode";
import { Separator } from "@/components/ui/separator";
import { MoveRight } from "lucide-react";
import { Button } from "@/components/ui/button";
import Writing from "@/components/home/WritingItem.astro";
const posts = await getAllPostByUsername("blog.kishans.in");
---

<div class="container my-12 sm:my-20">
  <h3 class="text-xl sm:text-2xl font-semibold">Recent Writings</h3>
  <div class="mt-4 sm:mt-6">
    {
      posts?.map((post: HashnodePost, index) => {
        return (
          <>
            <Writing post={post} />
            {index !== posts.length - 1 && (
              <Separator className="my-5 sm:my-7" />
            )}
          </>
        );
      })
    }
    <a href="/blogs" class="flex items-center gap-2">
      <Button
        className="mt-6 sm:mt-8 px-6 sm:px-8 rounded-full py-4 sm:py-5 font-mono text-sm sm:text-base group"
      >
        View All Posts
        <MoveRight
          strokeWidth={1.2}
          className="ml-2 group-hover:translate-x-2 transition-all duration-100"
        />
      </Button>
    </a>
  </div>
</div>
