<footer
  class="flex justify-between my-5 items-center container text-sm text-black/70 border-t border-black/10 pt-8"
>
  <p>
    &copy; {new Date().getFullYear()} Kishan
  </p>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://github.com/kishanhitk/kishans.in"
  >
    View Source
  </a>
</footer>
