---
import ThemeSwitcher from '@/components/ThemeSwitcher.tsx'
---

<footer
  class="flex justify-between my-5 items-center container text-sm text-muted-foreground border-t border-border pt-8"
>
  <p>
    &copy; {new Date().getFullYear()} Kishan
  </p>
  <div class="flex items-center gap-4 sm:gap-5">
    <a
      class="transition-colors hover:text-foreground"
      rel="noopener noreferrer"
      target="_blank"
      href="https://github.com/kishanhitk/kishans.in"
    >
      View Source
    </a>
    <ThemeSwitcher client:load />
  </div>
</footer>
