<nav
  class="flex flex-col sm:flex-row justify-between items-center container my-8 sm:my-12"
>
  <a href="/" class="font-semibold mb-4 sm:mb-0 font-mono">KK</a>
  <div class="flex gap-4 sm:gap-5 text-sm font-semibold font-mono">
    <a data-astro-prefetch="viewport" href="/#projects">Projects</a>
    <a data-astro-prefetch="viewport" href="/blogs">Writings</a>
    <a data-astro-prefetch="viewport" href="/contact">Contact</a>
  </div>
</nav>
