<nav class="flex justify-between container my-12">
  <a href="/">KK</a>
  <div class="flex gap-5 text-sm font-semibold font-mono">
    <a href="#projects">Projects</a>
    <a href="/blogs">Writing</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
