---
import BlogPage from "@/components/blogs/BlogPage.astro";
import { getAllPostByUsername, getPostBySlug } from "../../functions/hashnode";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getAllPostByUsername("blog.kishans.in");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;

const blog = await getPostBySlug(slug, "blog.kishans.in");
---

<Layout title={blog.title}>
  <div class="container">
    <BlogPage post={blog} />
    <div
      class="prose dark:prose-invert prose-xl prose-zinc prose-code:font-mono prose-pre:bg-black text-zinc-600"
      set:html={blog.content.html}
    />
  </div>
</Layout>
