---
import BlogPage from "../../components/blogs/BlogPage";
import { getAllPostByUsername, getPostBySlug } from "../../functions/hashnode";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getAllPostByUsername("blog.kishans.in");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { slug } = Astro.params;

const blog = await getPostBySlug(slug, "blog.kishans.in");
---

<Layout title={blog.title}>
  <div class="container">
    <BlogPage client:load post={blog} />
    <div class="prose dark:prose-invert" set:html={blog.content.html} />
  </div>
</Layout>
