---
import "@fontsource-variable/manrope";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Full-stack developer at Quinence with a product mindset. Specializes in scalable web products, AI integration, and performance optimization to enhance user experience."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style>
  html.dark {
    background-color: #202125;
    color: #fff;
  }
  html {
    scroll-behavior: smooth;
  }
</style>
